p.TAmarelo {
    background-color: #FFFF99;
    margin-top: 20px;
    margin-right: 20px;
    width: 90%;
}

p.TAzul {
    background-color: #66CCFF;
    margin-top: 20px;
    margin-right: 20px;
    width: 60%;
}

p.TVerde {
    background-color: #99FF66;
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;

}