body {
    background-color: gray;
}
p.TAmarelo {
    background-color: #FFFF99;

}
p.TAzul {
    background-color: #66CCFF;
    border-style:dotted;
    max-width: 600px;
    margin-left: auto;
    
  
}

p.TVerde {
    background-color: #99FF66;
    width: 33.33%;
    margin-left: 825px;
}

p {
    margin-top: 20px;
    margin-right: 20px;
}