p.TAmarelo {
    background-color: #FFFF99;
        margin: 10px;
        padding: 10px;
        margin-bottom: 20px;
        font-family: Tamoha;
        font-size: 14px;
}

p.TAzul {
    background-color: #66CCFF ;
        margin: 10px;
        padding: 10px;
        margin-bottom: 20px;
        font-family: Tamoha;
        font-size: 14px;
}

p.TVerde {
    background-color: #99FF66;
        margin: 10px;
        padding: 10px;
        margin-bottom: 20px;
        font-family: Tamoha;
        font-size: 14px;
}