h1 {
    color: #FFFF;   
    font-weight: bold;
    text-decoration: underline red;
    text-decoration-style: dotted;
    font-family: Tahoma;
    text-align: justify;
    margin: 20px; 

}

body{background-color: navy;}

p {
    background-color: navy;
    color: #FFFF;
    margin:20px;
    padding: 20px;
    border-style: solid;
    border-color: #FFFF;
    font-family: Arial;
    text-align: justify;
}