h1.h {
    color: #FFFF;   
    font-weight: bold;
    text-decoration: underline red;
    text-decoration-style: dotted;
    font-family: Verdana;
    text-align: justify;
    margin: 20px; 

}

h1.h2 {color: #ff0;   
    font-weight: bold;
    text-decoration: underline double #33FFFF;
    font-family: Verdana; 
    text-align: justify;
    margin: 20px; 

}

body{background-color: navy;}

p.p {
    background-color: navy;
    color: #FFFF;
    margin:20px;
    padding: 20px;
    border-style: solid;
    border-color: #FFFF;
    font-family: Monaco;
    text-align: justify;
}

p.p2{color: #ccc;
    font-family: #CCC;
    margin:20px;
    padding: 20px;
    border-style: solid;
    border-color: #FFFF;
    text-align: center;
    background-color: black;
}